---
import MainLayout from "../layouts/MainLayout.astro";
import HeroSlider from "../components/carousel/HeroSlider.astro";
import CategoryComponent from "../components/CategoryComponent.astro";
import CardGamesList from "../components/CardGamesList.astro";
import { getAllGames, getTrendingGames  } from "../lib/api/rawg";
import PaginationGames from "../components/MiniComponents/PaginationGames.astro"

export const prerender = false;

const searchParams = Astro.url.searchParams;

const currentPage = Number( searchParams.get('page') ?? 1);;

const [trending, latest] = await Promise.all([
  getTrendingGames(),
  getAllGames(currentPage),
]);

---

<MainLayout title="home">

	<div class="flex flex-1 flex-col min-w-0 max-w-full mx-2 md:mx-0 p-0 md:p-6">
		<HeroSlider trendingGames={trending} />
	</div>
	<div class="flex flex-1 flex-col min-w-0 max-w-full p-0 md:px-6">
		<CategoryComponent/>
	</div>
	<div class="flex flex1 w-full p-0 md:px-5" id="games-start">
		<CardGamesList games={latest}/>
	</div>
	<PaginationGames/>
</MainLayout> 



